body{
    background-color: var(--blue950);
    font-family: "Outfit", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    background-color: var(--blue900);
    border-radius: 20px;
    max-width: 360px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-container{
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.ethereum-img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
}

.title{
    color: var(--white);
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}

.description{
    color: var(--blue500);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
}

.value-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ethereum-info,
.time-remaining{
    display: flex;
    align-items: center;
    gap: 8px;
}

.ethereum-info span{
    color: var(--cyan400);
    font-weight: 600;
}

.time-remaining span{
    color: var(--blue500);
    font-weight: 500;
}

.content-line{
    border: none;
    height: 1px;
    background-color: var(--blue800);
}

.creator-profile{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
}

.creator-profile img{
    width: 35px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.creator-profile .creator{
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.creator-profile p{
    color: var(--blue500);
    font-weight: 600;
}

.title:hover,
.creator:hover{
    color: var(--cyan400);
}